.Burger {
    margin: auto;
    width: 100%;
    height: 280px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

@media( min-width: 500px ) and (min-height: 400px ) {
    .Burger {
        width: 360px;
        height: 320px;
    }
}

@media( min-width: 1024px ) and ( min-height: 768px ) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}
